<template lang="pug">
  v-container
    v-row(no-gutters v-if="!isLoading")
      GlobalInfo(:global="global")
      CountriesTable(:countries="countriesInfo")
    .text-center.mt-5(v-else)
      v-progress-circular(indeterminate color='primary')
</template>

<script>
import { getSummary } from '../services/services'
import GlobalInfo from '../components/GlobalInfo'
import CountriesTable from '../components/CountriesTable'

export default {
  name: 'Home',
  components: {
    GlobalInfo,
    CountriesTable
  },
  data () {
    return {
      global: null,
      countriesInfo: null,
      isLoading: true
    }
  },
  methods: {
    async getGlobalInfo () {
      try {
        const resp = await getSummary()
        this.global = resp.data.Global
        this.countriesInfo = resp.data.Countries
      } catch (err) {
        console.log(err)
      } finally {
        this.isLoading = false
      }
    }
  },
  mounted () {
    this.getGlobalInfo()
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
