<template lang="pug">
  v-col.mt-5(cols='12')
    v-card.mt-5(v-if="countries")
      v-card-title
        v-icon(color='blue darken-2') mdi-view-list
        | NÚMEROS POR PAÍS
        v-spacer
        v-text-field(v-model="search" append-icon='mdi-magnify' label='Buscar' single-line hide-details)
      v-data-table(:headers="headers" :items="countries" :search="search" :footer-props="footerProps")
    .text-center.mt-5(v-else)
      v-alert(type='error') Ha ocurrido un error al intentar obtener las estadísticas de los países.
</template>

<script>
  export default {
    name: 'CountriesTable',
    props: {
      countries: null
    },
    data () {
      return {
        test: null,
        search: '',
        headers: [
          {
            text: 'País',
            align: 'start',
            sortable: false,
            value: 'Country',
          },
          { text: 'Total Confirmados', value: 'TotalConfirmed' },
          { text: 'Total Recuperados', value: 'TotalRecovered' },
          { text: 'Total Fallecidos', value: 'TotalDeaths' },
        ],
        footerProps: {
          'items-per-page-text': 'Países por página',
          'items-per-page-all-text': 'Todos',
          'items-per-page-options': [5, 10, 15]
        }
      }
    }
  }
</script>