<template lang="pug">
    apexchart(width='100%' heigth='100%' type='line' :options="options" :series="series")
</template>

<script>
export default {
  name: 'CountriesChart',
  props: {
    series: Array,
    categories: Array
  },
  data () {
    return {
      options: {
        chart: {
          id: 'vuechart',
          toolbar: {
            show: false
          }
        },
        xaxis: {
          categories: this.categories,
          labels: {
            rotate: -25,
            rotateAlways: true,
            minHeigth: 250,
            maxHeight: 250
          }
        }
      }
    }
  }
}
</script>