<template lang="pug">
  v-app
    v-main
      header
        h1
          v-icon(large color='blue darken-2') mdi-virus
          | DATOS COVID-19
          v-icon(large color='blue darken-2') mdi-virus
        span {{ today }}
      nav
        router-link(to='/') Inicio
        router-link(to='/grafico') Gráfico
      router-view
</template>

<script>
import { formatDate }  from './utils/utils'

export default {
  name: 'App',
  data() {
    return {
      today: formatDate(new Date())
    }
  }
}
</script>

<style>
#app {
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
header {
  padding: 10px;
  background-color: #C3D4FF;
}
nav {
  background-color: aliceblue;
  padding: 15px;
}
nav a {
  margin-right: 10px;
  text-decoration: none;
}
nav a:hover {
  color: #2366A9;
}
</style>
